<div class="pulzo-material-header-wrapper" ng-cloak>
	<h1>Actualizar archivo de material</h1>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Actualizar archivo LESS</h3>
	</div>

	<div class="panel-body">
		<form name="form-upload">
			<div class="form-group">
				<label for="path">Ruta</label>
				<select chosen data-placeholder="Selecciona una carpeta" option="paths" ng-model="path"
				ng-options="path.path as path.name
				for path in lessPaths" required>
				</select>
				<i ng-show="form-upload.path.$error.required">*required</i>
			</div>

			<div class="form-group">
				<label for="file">Archivo</label>
				
				<input type="file" ngf-select ng-model="file" name="file"    
				accept="*" ngf-max-size="2MB" required
				ngf-model-invalid="errorFile">
				
				<i ng-show="form-upload.file.$error.required">*required</i><br>
				
				<i ng-show="form-upload.file.$error.maxSize">Archivo muy grande 
				{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
			</div>
			
			<button
			ng-click="upload(file)" class="btn btn-default">Actualizar</button>
			<span class="progress" ng-show="file.progress >= 0">
			<div style="width:{{file.progress}}%" 
			ng-bind="file.progress + '%'"></div>
			</span>
			<span ng-show="file.result">Carga correcta</span>
			<span class="err" ng-show="errorMsg" ng-bind-html="errorMsg | to_trusted"></span>
		</form>
	</div>
</div>
